body {
    background: #496075;
    color: azure;
}

.las {
    color: #ffffff;
}

.tengah {
    text-align: center;
    margin: auto;
    display: block;
}

.tengah img {
    border-radius: 50%;
}

.jarak {
    margin: 2rem;
}

.card {
    background: #496075;
    color: #496075 !important;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.5);
}

.card-text:hover {
    transform: translateY(-15px);
    transition: all 0.6s ease-in-out;
    color: #ffffff;
}

.la-github {
    color: azure;
    font-size: 4rem;
}

.la-telegram {
    color: azure;
    font-size: 4rem;
}