* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #212121;
    color: #83be83;
}

.kotak {
    border: 2px solid black;
    border-style: dashed;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex: 1;
    justify-content: center;
}

.jam {
    align-self: center;
}

.quotes {
    border: 2px solid black;
    border-radius: 10px;
}

.sauce {
    text-align: center;
}

.gambar {
    width: 50px;
    height: 50px;
}

.tengah {
    display: block;
    margin: auto;
}